body {
    margin-left: 10%;
    margin-right: 10%;
}


*{
    background-color: rgb(255, 230, 175);
    font-weight: 700;
}

h1 {
    text-align: left;
    font-style: oblique;
}

h1 a {
    text-decoration: none;
    color: rebeccapurple;
    font: oblique;
}
h2 {
    
    
  }

  div {
    margin-left: 10%;
    margin-right: 10%;
  }
